<div class="card shadow">
                        <img src="img/music2.jpg" alt="music2" class="card-img-top">
                        <div class="border-top info-wrap">
                            <a href="#" class="float-end btn btn-light">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="muzik2.html" class="title text-truncate">Dedublüman, 10 Mayıs akşamı Jolly Joker Mersin sahnesinde sizlerle.</a>
                            <div class="price-wrap">
                                <span class="price">3.500</span>
                            </div>
                        </div>
                    </div>