<div class="card shadow">
                        <img src="img/spor1.jpg" alt="spor1" class="card-img-top">
                        <div class="border-top info-wrap">
                            <a href="#" class="float-end btn btn-light">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="spor1.html" class="title text-truncate">Darüşşafaka Lassa 2024-2025 Sezonu Kombinesi</a>
                            <div class="price-wrap">
                                <span class="price">3.000</span>
                            </div>
                        </div>
                    </div>